{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<main>
    <!-- Forget Password Start -->
    <section class="forget-password">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="account-sign-in">
                        <h5 class="text-center modi-sm">Check your Email</h5>
                   <p> An Email containing the password reset link has been sent to the provided email address.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forget Password End -->
</main>
{% endblock %}