{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<main>
    <!-- Forget Password Start -->
    <section class="forget-password">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="account-sign-in">
                        <h5 class="text-center modi-sm">Forgot Password</h5>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form__div">
                                <input type="email" name="email" class="form__input" placeholder=" ">
                                <label for="" class="form__label">Email</label>
                            </div>
                            <button type="submit" class="btn bg-primary">Reset Password</button>
                        </form>
                      
                        <div class="ask-signup text-center">
                            <a href="#" class="mr-1" style="color:#989BA7;">Don't have an account?</a>
                            <a href="{% url 'home:signup' %}">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forget Password End -->
</main>
{% endblock %}