{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<main>
    <!-- Forget Password Start -->
    <section class="forget-password">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="account-sign-in">
                        <h5 class="text-center modi-sm">Forgot Password</h5>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form__div">
                                <input type="password" name="new_password1" class="form__input" placeholder=" " required>
                                <label for="" class="form__label">New Password</label>
                            </div>
                            <div class="form__div">
                                <input type="password" name="new_password2" class="form__input" placeholder=" " required>
                                <label for="" class="form__label">Repeat New Password</label>
                            </div>
                            <button type="submit" class="btn bg-primary">Save Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forget Password End -->
</main>
{% endblock %}