{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<main>
    <!-- Forget Password Start -->
    <section class="forget-password">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="account-sign-in">
                        <h5 class="text-center modi-sm">Password Reset Complete</h5>
                   <p style="text-align: center;"> You may now login with your new password
                   <a style="margin-top:0.5rem;" class="btn bg-primary" href="/login">Login</a>
                </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forget Password End -->
</main>
{% endblock %}