{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<main>
    <!--Banner Area Start -->
    <section class="banner-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="banner-area__content">
                        <h2>Lasting value for the discerning individual</h2>
                        <p>Shop our catalog of curated objects for modern living.</p>
                        <a class="btn bg-primary" href="{% url 'products:shop'%}">Shop Now</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="banner-area__img">
                        <img src="{% static 'images/images-static/banner.jpg' %}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="brand-area">
                        <div class="brand-area-image">
                            <img src="{% static 'images/images-static/01.png' %}" alt="Brand" class="img-fluid">
                        </div>
                        <div class="brand-area-image">
                            <img src="{% static 'images/images-static/02.png' %}" alt="Brand" class="img-fluid">
                        </div>
                        <div class="brand-area-image">
                            <img src="{% static 'images/images-static/03.png' %}" alt="Brand" class="img-fluid">
                        </div>
                        <div class="brand-area-image">
                            <img src="{% static 'images/images-static/04.png' %}" alt="Brand" class="img-fluid">
                        </div>
                        <div class="brand-area-image">
                            <img src="{% static 'images/images-static/02.png' %}" alt="Brand" class="img-fluid">
                        </div>
                        <div class="brand-area-image">
                            <img src="{% static 'images/images-static/05.png' %}" alt="Brand" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Banner Area End -->

    <!-- Features Section Start -->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Showcase</h2>
                    </div>
                </div>
            </div>
            <div class="features-wrapper">
                <div class="features-active">
                    {% for i in products|slice:":5"%} <!-- only showing 5 products -->
                    <div class="product-item">
                        <div class="product-item-image">
                            <a href="{% url 'products:product-detail' i.id %}"><img src="{{i.image_url}}" alt="{{i.name}}"
                                    class="img-fluid"></a>
                            <div class="cart-icon">
                                <a href="{% url 'cart:add-to-wishlist' i.id %}"><i class="far fa-heart"></i></a>
                                {% if user.is_superuser %}
                                <a href="{% url 'home:edit-product' i.id %}"><i class="far fa-edit"></i></a>
                                {% endif %}
                                <a href="{% url 'cart:add-to-cart' i.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.75" height="16.75"
                                        viewBox="0 0 16.75 16.75">
                                        <g id="Your_Bag" data-name="Your Bag" transform="translate(0.75)">
                                            <g id="Icon" transform="translate(0 1)">
                                                <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="0.682" cy="0.714"
                                                    rx="0.682" ry="0.714" transform="translate(4.773 13.571)"
                                                    fill="none" stroke="#1a2224" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="1.5" />
                                                <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="0.682" cy="0.714"
                                                    rx="0.682" ry="0.714" transform="translate(12.273 13.571)"
                                                    fill="none" stroke="#1a2224" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="1.5" />
                                                <path id="Path_3" data-name="Path 3"
                                                    d="M1,1H3.727l1.827,9.564a1.38,1.38,0,0,0,1.364,1.15h6.627a1.38,1.38,0,0,0,1.364-1.15L16,4.571H4.409"
                                                    transform="translate(-1 -1)" fill="none" stroke="#1a2224"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="1.5" />
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <a href="{% url 'products:product-detail' i.id %}">
                        <div class="product-item-info">
                           {{i.name}}
                            <span>${{i.price}}</span> 
                        </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <div class="slider-arrows">
                    <div class="prev-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                            viewBox="0 0 9.414 16.828">
                            <path id="Icon_feather-chevron-left" data-name="Icon feather-chevron-left"
                                d="M20.5,23l-7-7,7-7" transform="translate(-12.5 -7.586)" fill="none"
                                stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </div>
                    <div class="next-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                            viewBox="0 0 9.414 16.828">
                            <path id="Icon_feather-chevron-right" data-name="Icon feather-chevron-right"
                                d="M13.5,23l5.25-5.25.438-.437L20.5,16l-7-7" transform="translate(-12.086 -7.586)"
                                fill="none" stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="features-morebutton text-center">
                        <a class="btn bt-glass" href="/shop">View All Products</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- About Area Start -->
    <section class="about-area">
        <div class="container">
            <div class="about-area-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 ">
                        <div class="about-area-content-img">
                            <img src="{% static 'images/images-static/medicine.jpg' %}" alt="img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-area-content-text">
                            <h3>Why Shop at Vittoria</h3>
                            <p>At Vittoria, we pride ourselves on offering only the finest items,
                                 proven over time, to provide you with lasting quality and value.
                            </p>
                            <div class="icon-area-content">
                                <div class="icon-area">
                                    <i class="far fa-check-circle"></i>
                                    <span>Renowned selection.</span>
                                </div>
                                <div class="icon-area">
                                    <i class="far fa-check-circle"></i>
                                    <span>24/7 Customer Service.</span>
                                </div>
                                <div class="icon-area">
                                    <i class="far fa-check-circle"></i>
                                    <span>Unbeatable Value.</span>
                                </div>
                                <div class="icon-area">
                                    <i class="far fa-check-circle"></i>
                                    <span>No quibble returns.</span>
                                </div>
                            </div>

                            <a class="btn bg-primary" href="/shop">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->

    <!-- Popular Product Strat -->
    <section class="populerproduct">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for i in products|slice:"20:29"%}
                <div class="col-md-4 col-sm-6">
                    <div class="product-item">
                        <div class="product-item-image">
                            <a href="{% url 'products:product-detail' i.id %}"><img src="{{i.image_url}}" alt="{{i.name}}"
                                    class="img-fluid"></a>
                            <div class="cart-icon">
                                <a href="{% url 'cart:add-to-wishlist' i.id %}"><i class="far fa-heart"></i></a>
                                <a href="{% url 'home:edit-product' i.id %}"><i class="far fa-edit"></i></a>
                                <a href="{% url 'cart:add-to-cart' i.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.75" height="16.75"
                                        viewBox="0 0 16.75 16.75">
                                        <g id="Your_Bag" data-name="Your Bag" transform="translate(0.75)">
                                            <g id="Icon" transform="translate(0 1)">
                                                <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="0.682" cy="0.714"
                                                    rx="0.682" ry="0.714" transform="translate(4.773 13.571)"
                                                    fill="none" stroke="#1a2224" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="1.5" />
                                                <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="0.682" cy="0.714"
                                                    rx="0.682" ry="0.714" transform="translate(12.273 13.571)"
                                                    fill="none" stroke="#1a2224" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="1.5" />
                                                <path id="Path_3" data-name="Path 3"
                                                    d="M1,1H3.727l1.827,9.564a1.38,1.38,0,0,0,1.364,1.15h6.627a1.38,1.38,0,0,0,1.364-1.15L16,4.571H4.409"
                                                    transform="translate(-1 -1)" fill="none" stroke="#1a2224"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="1.5" />
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <a href="{% url 'products:product-detail' i.id %}">
                        <div class="product-item-info">
                            {{i.name}}
                            <span>${{i.price}}</span>
                        </div>
                    </a>
                    </div>
                </div>
                {% endfor %}
              
            </div>
        </div>
    </section>
    <!-- Popular Product End -->



    <!-- Features Section Start -->
    <section class="customersreview">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Customer Testimonials</h2>
                    </div>
                </div>
            </div>
            <div class="customersreview-wrapper">
                <div class="customersreview-active">
                    <div class="customersreview-item">
                        <p>As a long time customer I frequently check the latest offerings 
                            where something always catches my eye.
                        </p>
                        <div class="name">
                            <h6>Regina Ford</h6>
                            <span>Boston, MA, USA</span>
                        </div>
                    </div>
                    <div class="customersreview-item">
                        <p>A pleasure to deal with Customer Service. My questions were answered 
                            fully to my complete satisfaction.</p>
                        <div class="name">
                            <h6>Tyler Zu</h6>
                            <span>Hong Kong</span>
                        </div>
                    </div>
                    <div class="customersreview-item">
                        <p>So pleased with the end-table I purchased. I 
                            matched it with the perfect lamp. Thank you.
                        </p>
                        <div class="name">
                            <h6>Lorena McKay</h6>
                            <span>Sevenoaks, Kent, UK</span>
                        </div>
                    </div>
                    <div class="customersreview-item">
                        <p>Looking forward to your Spring Sales!</p>
                        <div class="name">
                            <h6>Josef Hiikens</h6>
                            <span>Amsterdam, Netherlands</span>
                        </div>
                    </div>
                    <div class="customersreview-item">
                        <p>I was pleasently surprised by the quality of the jacket 
                            and pants I purchased last week. Excellent quality.</p>
                        <div class="name">
                            <h6>Pierre DeNeouf</h6>
                            <span>Montpellier, France</span>
                        </div>
                    </div>
                    <div class="customersreview-item">
                        <p>Very fast shipping and great quality I am pleased 
                            with my purchase and service.</p>
                        <div class="name">
                            <h6>Abdul Al Jaballa</h6>
                            <span>Doha, Quatar</span>
                        </div>
                    </div>
                </div>
                <div class="slider-arrows">
                    <div class="prev-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                            viewBox="0 0 9.414 16.828">
                            <path id="Icon_feather-chevron-left" data-name="Icon feather-chevron-left"
                                d="M20.5,23l-7-7,7-7" transform="translate(-12.5 -7.586)" fill="none"
                                stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </div>
                    <div class="next-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                            viewBox="0 0 9.414 16.828">
                            <path id="Icon_feather-chevron-right" data-name="Icon feather-chevron-right"
                                d="M13.5,23l5.25-5.25.438-.437L20.5,16l-7-7" transform="translate(-12.086 -7.586)"
                                fill="none" stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->
</main>
{% endblock %}